<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/politicians">Politicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link on-this-page" href="/politicians/compare">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="searchForm">
                        <div class="md-form my-0">
                            <input id="searchQuery" class="search-query form-control mr-sm-2" type="text"
                                placeholder="Search" aria-label="Search" />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top profile-pic" src={{politicianAImage}} />
                    <div class="card-body">
                        <h4 class="card-title">{{politcianA.name}}</h4>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politicianA.name}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-balance-scale"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politicianA.cases}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-graduation-cap icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politicianA.education}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-gem icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i>
                                    {{politicianA.assets}}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-car"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i>
                                    {{politicianA.liabilities}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top profile-pic" src={{politicianBImage}} />
                    <div class="card-body">
                        <h4 class="card-title">{{politcianB.name}}</h4>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politicianB.name}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-balance-scale"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politicianB.cases}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-graduation-cap icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politicianB.education}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-gem icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i>
                                    {{politicianB.assets}}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-car"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i>
                                    {{politicianB.liabilities}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>scripts}}

</body>

</html>