<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>nav}}
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h3 class="card-title">Bio </h3>

        <div class="card testimonial-card">


          <div class="card-body">
            <img id="bioImage" class=" card-img-top" src="abc.jpg" alt="Card image" style="width:100%">

            <p class="card-text partyName">{{politician.party}}</p>
            <h5 class="card-title"><i class="far fa-user"></i>{{politician.name}}</h5>
            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> {{politician.area}}</h5>
            <hr />
            <p>
              <i class="fas fa-graduation-cap"></i> {{politician.education}}
            </p>
            <p>
              <i class="far fa-gem"></i> {{politician.assets}}
            </p>
            <p>
              <i class="fas fa-car"></i> {{politician.liabilities}}
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h3 class="card-title">Stats </h3>

        <div class="card testimonial-card">


          <div class="card-body">
            <img id="bioImage" class=" card-img-top" src="abc.jpg" alt="Card image" style="width:100%">

            <p class="card-text partyName">{{politician.party}}</p>
            <h5 class="card-title"><i class="far fa-user"></i>{{politician.name}}</h5>
            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> {{politician.area}}</h5>
            <hr />
            <p>
              <i class="fas fa-graduation-cap"></i> {{politician.education}}
            </p>
            <p>
              <i class="far fa-gem"></i> {{politician.assets}}
            </p>
            <p>
              <i class="fas fa-car"></i> {{politician.liabilities}}
            </p>

          </div>
        </div>
      </div>



      <div class="col-md-4 overflow-media">
        <h3 class="card-title">Media</h3>
        {{#each articles}}
        <div class="card mb-2">
          <img class="card-img-top" src={{this.urlToImage}} alt="Card image" style="width:100%">
          <h4 class="card-title p-3">{{this.title}}</h4>
          <p class="card-text p-3">{{this.content}}</p>
          <a href={{this.url}} class="btn btn-primary p-3 read-more">Read More</a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>