<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

  <div class="row">
    <div class="col-md-12 mb-5">
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars icon-style"></i>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link on-this-page" href="/politicians/search">Politicians</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/politicians/compare">Compare</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/disclaimer">Disclaimer</a>
            </li>

          </ul>
          <form class="form-inline" id="searchForm">
            <div class="md-form my-0">
              <input id="searchQuery" class="search-query form-control mr-sm-2" type="text" placeholder="Search"
                aria-label="Search" />
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-sm-4 ">
        <div class="card orange-br">
          <img class="card-img-top profile-pic" src={{politicianImage}}>
          <div class="card-body">
            <h4 class="card-title">{{politcian.name}}</h4>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.name}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-users"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.party}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-map-marker-alt icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.area}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-graduation-cap icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.education}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="far fa-gem icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style"></i> Rs {{politician.assets}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-car"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style"> Rs {{politician.liabilities}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12">
        <div class="card">
          <h1 class="h1-responsive">Scorecard</h1>
          <div class="container">
            <canvas id="casesChart"></canvas>
            <canvas id="attendanceChart"></canvas>
            <canvas id="debatesChart"></canvas>
            <canvas id="statesChart"></canvas>
          </div>
          <a href="/politicians/compare/{{politician.name}}/{{prevPolitician.name}}"
            class="btn btn-primary view-detailed">Detailed Comparison</a>
        </div>
      </div>
    </div>

    <div class="row">
      <ul class="nav nav-tabs mx-auto mt-4 justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Youtube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Twitter</a>
        </li>
      </ul>


      <div class="tab-content" id="myTabContent" style="width: 100%;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          {{#each articles}}
          <div class="card">
            {{#if urlToImage}}
            <img class=" card-img-top" src={{this.urlToImage}} alt="Card image" style="width:100%; height:420">
            {{else}}
            <img class=" card-img-top" src="/images/notFound.png" alt="Card image" style="width:100%; height:420">
            {{/if}}
            <div class="card-body">
              <h4 class="card-title">{{this.title}}</h4>
              <a href={{this.url}} class="btn btn-primary ">See Profile</a>
            </div>
          </div>
          {{/each}}
        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          {{#each politicianVideos}}
          <iframe width="100%" height="450" class="youtube-frame"
            src="https://www.youtube.com/embed/{{this.id.videoId}}">
          </iframe>
          {{/each}}
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12">
        <div class="card">
          <h1 class="h1-responsive">Public Ratings</h1>
          <div class="container">
            <canvas id="casesChart"></canvas>
            <canvas id="attendanceChart"></canvas>
            <canvas id="debatesChart"></canvas>
            <canvas id="statesChart"></canvas>
          </div>
          <a href="#" class="btn btn-primary view-detailed">
            Show ratings
          </a>
        </div>
      </div>
    </div>


  </div>

  {{>scripts}}
  <script>
    let casesChart = document.getElementById("casesChart")
    let Chart1 = new Chart(casesChart, {
      type: "bar",
      data: {
        labels: ['Previous Candidate', 'Current candidate'],
        datasets: [{
          label: 'Criminal Cases',
          data: [{{ prevPolitician.cases }}, {{ politician.cases }}, 0],
      backgroundColor: [
        'rgba(162, 162, 162, 0.2)',
        'rgba(255, 145, 0, 0.2)'
      ],
      borderColor: [
      ],
      borderWidth: 1
    }]
      },
    options: { }
    })

    let attendanceChart = document.getElementById("attendanceChart")
    let Chart2 = new Chart(attendanceChart, {
      type: "horizontalBar",
      data: {
        labels: ['Previous Candidate Attendance', 'Current Candidate Attendance'],
        datasets: [{
          label: 'Parliament Attendance %',
          data: [{{ prevPoliticianAttendance }}, {{ politicianAttendance }}, 0],
      backgroundColor: [
        'rgba(162, 162, 162, 0.2)',
        'rgba(255, 145, 0, 0.2)'

      ],
      borderColor: [
      ],
      borderWidth: 1
    }]
    },
    options: { }
    })

    let debatesChart = document.getElementById("debatesChart")
    let Chart3 = new Chart(debatesChart, {
      type: "bar",
      data: {
        labels: ['Previous Candidate', 'Current Candidate'],
        datasets: [{
          label: 'Debates',
          data: [{{ prevPoliticianDebates }}, {{ politicianDebates }}, 0],
      backgroundColor: [
        'rgba(162, 162, 162, 0.2)',
        'rgba(255, 145, 0, 0.2)'

      ],
      borderColor: [
      ],
      borderWidth: 1
    }]
    },
    options: { }
    })


    let statesChart = document.getElementById("statesChart")
    let Chart4 = new Chart(statesChart, {
      type: "horizontalBar",
      data: {
        labels: ['Previous Candidate', 'Current Candidate'],
        datasets: [{
          label: 'States private bills',
          data: [{{ prevPoliticianStates }}, {{ politicianStates }}, 0],
      backgroundColor: [
        'rgba(162, 162, 162, 0.2)',
        'rgba(255, 145, 0, 0.2)'

      ],
      borderColor: [
      ],
      borderWidth: 1
    }]
    },
    options: { }
    })



  </script>
  {{>footer}}
</body>

</html>