<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>nav}}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="h1-responsive">Bio</h1>
        <div class="card">
          <img class="card-img-top profile-pic" src={{politicianImage}}>
          <div class="card-body">
            <h4 class="card-title">{{politcian.name}}</h4>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.name}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-users"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.party}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-map-marker-alt icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.area}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-graduation-cap icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style">{{politician.education}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="far fa-gem icon-style"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style"></i> {{politician.assets}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-1">
                <p class="card-text icon-style"><i class="fas fa-car"></i></p>
              </div>
              <div class="col-sm-11">
                <p class="card-title icon-style"> {{politician.liabilities}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    {{!-- carousel start --}}
    <div class="row">
      <div class="col-sm-12">
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                class="fas fa-chevron-right"></i></a>
          </div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.1.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.1.title}}</h4>
                      <p class="card-text">{{articles.1.content}}</p>
                      <a class="btn btn-primary">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.2.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.2.title}}</h4>
                      <p class="card-text">{{articles.2.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.3.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.3.title}}</h4>
                      <p class="card-text">{{articles.3.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.4.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.4.title}}</h4>
                      <p class="card-text">{{articles.4.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.5.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.5.title}}</h4>
                      <p class="card-text">{{articles.5.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.6.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.6.title}}</h4>
                      <p class="card-text">{{articles.6.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.7.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.7.title}}</h4>
                      <p class="card-text">{{articles.7.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.8.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.8.title}}</h4>
                      <p class="card-text">{{articles.8.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top news-article-img" src={{articles.9.urlToImage}} alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title">{{articles.9.title}}</h4>
                      <p class="card-text">{{articles.9.content}}</p>
                      <a class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- end new coursel --}}

  </div>

  {{>scripts}}
</body>

</html>