<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-dark primary-color">
                <a class="navbar-brand" href="/"><img id="site-logo" src="/images/Capture3.PNG"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars icon-style"></i>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link on-this-page" href="/politicians/search">Politicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/politicians/compare">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/disclaimer">Disclaimer</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="searchForm">
                        <div class="md-form my-0">
                            <input id="searchQuery" class="search-query form-control mr-sm-2" type="text"
                                placeholder="Search" aria-label="Search" />
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid col-sm-9 col-md-7 col-lg-8 mx-auto mt-4 flex-grow-1">
        <div class="my-3">
            <form action="#" method="Get" class="d-flex">
                <input name="searchFeild" id="searchPolitician" type="text" class="form-control">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <p>{{matches}} results found</p>
        </div>
        <div class="active">
            {{#each politicians}}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
                        </div>
                        <div class="col-sm-11">
                            <p class="card-title icon-style">{{this.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <p class="card-text icon-style"><i class="fas fa-users"></i></p>
                        </div>
                        <div class="col-sm-11">
                            <p class="card-title icon-style">{{this.party}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <p class="card-text icon-style"><i class="fas fa-map-marker-alt icon-style"></i></p>
                        </div>
                        <div class="col-sm-11">
                            <p class="card-title icon-style">{{this.area}}</p>
                        </div>
                    </div>
                    <a href="/politicians/{{this.name}}" class="btn btn-primary ">See Profile</a>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    {{>scripts}}
    {{>footer}}

</body>

</html>