<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Compare Page</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <style>
        .icon-style{
        color: black;
        font-weight: bold;
        } 
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top profile-pic" src={{politicianImage}}>
                    <div class="card-body">
                        <h4 class="card-title">{{politcian.name}}</h4>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politician.name}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-balance-scale"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politician.cases}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-graduation-cap icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politician.education}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-gem icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i> {{politician.assets}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-car"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i> {{politician.liabilities}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top profile-pic" src={{politicianImage}}>
                    <div class="card-body">
                        <h4 class="card-title">{{politcian.name}}</h4>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-user icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politician.name}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-balance-scale"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politician.cases}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-graduation-cap icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style">{{politician.education}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="far fa-gem icon-style"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i> {{politician.assets}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-1">
                                <p class="card-text icon-style"><i class="fas fa-car"></i></p>
                            </div>
                            <div class="col-sm-11">
                                <p class="card-title icon-style"><i class="fas fa-rupee-sign"></i> {{politician.liabilities}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
</body>

</html>